.accounts_signup_form {
    padding: 0 20px;
    background-color: #e0dfdf;
    width: 400px;
}

.accounts_login_form,
.accounts_recover_form {
    padding: 2rem;
    background-color: #e0dfdf;
}

#legendlog,
#legendsign,
#legendrec {
    text-align: center;
    padding: 5px 16px;
    border: 2px solid #133cc2;
    font-weight: 800;
    background-color: #e0dfdf;
    border-radius: 10px;
}

#legendlog {
    border: 2px solid #06914b;
}

#legendrec {
    border: 2px solid #d10ad1;
}

.form_div {
    position: relative;
    width: 100%;
}

#accounts .form_div>label {
    font-weight: 600;
}

#accounts .form_div>input {
    padding: 5px 0;
    padding-left: 25px;
    width: 100%;
    border-radius: 8px;
}

.input_icon {
    position: absolute;
    top: 30px;
    left: 5px;
}

.goodInput,
.badInput {
    position: absolute;
    top: 35px;
    right: 5px;
    visibility: hidden;
}

.errmsg {
    visibility: hidden;
    position: absolute;
    top: 8px;
    right: 5px;
}

.form_div.success input {
    border-color: #2ecc71;
}

.form_div.error input {
    border-color: #e74c3c;
}

.form_div.success .goodInput {
    color: #2ecc71;
    visibility: visible;
}

.form_div.error .badInput {
    color: #e74c3c;
    visibility: visible;
}

.form_div.success .errmsg {
    color: #2ecc71;
    visibility: hidden;
}

.form_div.error .errmsg {
    color: #e74c3c;
    visibility: visible;
}

#signbtn,
#loginbtn,
#recoverbtn {
    padding: 5px 15px;
    background-color: #4040ee;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    margin: 5px auto;
}

#loginbtn {
    background-color: #06914b;
}

.remember_forget {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 5px 0;
}

.no_ccount {
    text-align: center;
}

.forgot_pass:hover,
.go_to_signup:hover {
    text-decoration: underline;
}

.other_accounts {
    display: flex;
    justify-content: space-evenly
}

.other_accounts span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.google .fa-google {
    color: #06914b;
    font-size: 24px;
    cursor: pointer;
}

.github .fa-github {
    font-size: 24px;
    cursor: pointer;
}

.facebook .fa-facebook {
    color: #3e3ecc;
    font-size: 24px;
    cursor: pointer;
}

#acountsignuppage,
#acountloginpage,
#acountrecoverypage {
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.closeTheForm {
    font-size: 20px;
    color: #ff0000;
    cursor: pointer;
}

.showPass,
.hidePass {
    position: absolute;
    top: 35px;
    right: 30px;
    cursor: pointer;
}

.hidePass {
    display: none;
}

#recoveryform:nth-child(3) .showPass {}

#recoveryform .form_div:nth-child(3) .showPass {
    border: 1px solid red;
}

#logOut {
    display: none;
}
