:root {
    --light-body-bg: #ffffff;
    --light-hdr-bg: #6666ca;
    --light-sidebar-bg: #333;
    --light-font-cl: #000000;
    --light-bg-cl: #ffffff;
    --dark-body-bg: #000000;
    --dark-sidebar-bg: #56565a;
    --dark-font-cl: #ffffff;
    --dark-bg-cl: #000000;
    --color-white: #ffffff;
    --selected-nav-link: #2f0647;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-body-bg);
    padding: 0 10px;
}

#dashboard_navbar {
    display: block;
    position: fixed;
    top: 0;
    width: 230px;
    height: 100vh;
    padding: 20px 0;
    color: var(--color-white);
    background-color: var(--light-sidebar-bg);
    display: flex;
    flex-direction: column;
}

#dashboard_navbar.show_nav {
    display: flex;
}

.dash_profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.dash_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.dash_links {
    width: 100%;
    margin: auto 0;
}

.dash_nav_links {
    padding: 10px 20px 10px;
    cursor: pointer;
}

.dash_links b {
    margin-right: 1rem;
}

#dsh_lgt b {
    margin-left: 1rem;
}

.dash_nav_links.side_selected {
    background-color: var(--selected-nav-link);
}

.dash_logout {
    width: 100%;
    text-align: center;
    margin-bottom: 10px 0;
}

header {
    display: none;
}

main {
    width: calc(100% - 230px);
    margin-left: 230px;
}

@media screen and (max-width: 500px) {
    #dashboard_navbar {
        display: none;
        /* left: 10px; */
        top: 60px;
        padding: 1rem 0;
        height: calc(100vh - 150px);
        width: 150px;
    }

    .dash_links .dash_nav_links {
        padding: 1rem 0;
        padding-left: 1rem;
    }

    .dash_nav_links {
        font-size: 14px;
    }

    .dash_profile {
        width: 100px;
        height: 100px;
    }

    header {
        background-color: var(--light-hdr-bg);
        width: 100%;
        padding: 0 10px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
    }

    header>img {
        height: 80%;
        width: auto;
    }

    header>span {
        font-size: 36px;
        cursor: pointer;
    }

    main {
        width: 100%;
        margin: 0;
        margin-top: 65px;
    }

    .togglingsidebar {
        display: none;
    }
}

/******************************End of Navbar****************************************/

.dumbtest {
    width: 100%;
    background-color: #ccc;
}

#dashboard_navbar.small {
    width: 80px;
}

.dash_profile.small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.linkToShow.small {
    display: none;
}

.tog_on,
.tog_off,
.dark_thm,
.light_thm {
    cursor: pointer;
    font-size: 34px;
}

.tog_off,
.light_thm {
    display: none;
}

main.small {
    width: calc(100% - 80px);
    margin-left: 85px;
}

/* Styles for top toggling icons */
.dashboard_container {
    width: 100%;
}

.modes_toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
}

.dash_big_title {
    margin-right: auto;
    margin-left: 20px;
}

.dash_overview {
    display: flex;
    /* justify-content: space-between; */

    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #bbb;
}

.statistics {
    background-color: #ddd;
    margin: 0 auto;
    flex-basis: 20%;
    padding: 10px 5px;
    border-radius: 8px;
    text-align: center;
}

.statistics b {
    font-size: 50px;
}

@media screen and (max-width: 768px) {
    .modes_toggle {
        padding: 5px;
    }

    .dash_big_title {
        margin-right: auto;
        margin-left: 0;
    }

    .statistics {
        flex-basis: 20%;
    }

    .statistics b {
        font-size: 20px;
    }

    .statistics h2 {
        font-size: 16px;
    }

    .statistics h3 {
        font-size: 14px;
    }
}
